<p id="notice"><%= notice %></p>

<h1>Diaries</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Date</th>
      <th>Bedtime</th>
      <th>Wakeuptime</th>
      <th>Time beforesleep</th>
      <th>Awaken times</th>
      <th>Liquor type</th>
      <th>Liquor num</th>
      <th>Feeling</th>
      <th>Sleep quality</th>
      <th>Naptime</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.week %></td>
        <td><%= diary.date %></td>
        <td><%= diary.bedtime %></td>
        <td><%= diary.wakeuptime %></td>
        <td><%= diary.time_beforesleep %></td>
        <td><%= diary.awaken_times %></td>
        <td><%= diary.liquor_type %></td>
        <td><%= diary.liquor_num %></td>
        <td><%= diary.feeling %></td>
        <td><%= diary.sleep_quality %></td>
        <td><%= diary.naptime %></td>
        <td><%= diary.user_id %></td>
        <td><%= link_to 'Show', diary %></td>
        <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
        <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diary', new_diary_path %>
